[submodule "ansible/roles/influxdb"]
	path = ansible/roles/influxdb
	url = git@github.com:C3-TKO/ansible-role-influxdb.git
[submodule "ansible/roles/kapacitor"]
	path = ansible/roles/kapacitor
	url = git@github.com:C3-TKO/ansible-role-kapacitor.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = git@github.com:C3-TKO/ansible-role-nginx.git
[submodule "ansible/roles/ansible-role-bananapi-base"]
	path = ansible/roles/ansible-role-bananapi-base
	url = git@github.com:C3-TKO/ansible-role-bananapi-base.git
