[submodule "ansible/roles/influxdb"]
	path = ansible/roles/influxdb
	url = git@github.com:C3-TKO/ansible-role-influxdb.git
[submodule "ansible/roles/kapacitor"]
	path = ansible/roles/kapacitor
	url = git@github.com:C3-TKO/ansible-role-kapacitor.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = git@github.com:C3-TKO/ansible-role-nginx.git
[submodule "ansible/roles/ansible-role-bananapi-base"]
	path = ansible/roles/ansible-role-bananapi-base
	url = git@github.com:C3-TKO/ansible-role-bananapi-base.git
[submodule "ansible/roles/banana-pi-base"]
	path = ansible/roles/banana-pi-base
	url = git@github.com:C3-TKO/ansible-role-bananapi-base.git
[submodule "ansible/roles/redis"]
	path = ansible/roles/redis
	url = git@github.com:C3-TKO/ansible-role-redis.git
[submodule "ansible/roles/mongodb"]
	path = ansible/roles/mongodb
	url = git@github.com:C3-TKO/ansible-role-mongodb.git
[submodule "ansible/roles/mysql"]
	path = ansible/roles/mysql
	url = https://github.com/geerlingguy/ansible-role-mysql
[submodule "ansible/roles/java8"]
	path = ansible/roles/java8
	url = https://github.com/malk/ansible-java8-oracle.git
[submodule "ansible/roles/elasticsearch"]
	path = ansible/roles/elasticsearch
	url = git@github.com:C3-TKO/ansible-role-elasticsearch.git
[submodule "ansible/roles/certbot"]
	path = ansible/roles/certbot
	url = git@github.com:C3-TKO/ansible-role-certbot.git
